.banner__imagen{
    background: url("../../img/banner.jpg") no-repeat center / cover;
    height: calc(100vh - 72px);
    width: 100%;
}

@media screen and (max-width: 767px) {
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}